.carre {
    position: absolute;
    background-color: white;
    padding-top: 0%;
    padding-left: 5%;
    margin-top: -15%;
    margin-right: 25%;
    margin-left: 5%;
    height: 310px;
    width: 300px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;


}