/* nav {
    background-color: darkgoldenrod;
    
} */

/* ul, li {
display: inline-block;
padding: 5px 15px;
cursor: pointer;
display: flex;
    align-items: center;
} */
@media screen and (max-width: 768px) {
    body {
        background-color:#eef5ff;
        padding-bottom: 100%;
       
    }
.onglet{
    display: flex;
    align-items: center;
    
}
.cercle:hover {
    background-color: white;
    color: black;
}

.cercle {
    color: white;
    margin-left: 8%;
    margin-top: -55%;
    margin-right: -1%;
    padding: 2%;
    border:1px solid white;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:100px;
    list-style-type: none;
    cursor: pointer;


}
.start {
    position: absolute;
   
    width: 20%;
    margin: 60%;
    margin-top: 80%;
    margin-left: 50%;
}
.next {
    background-color: rgb(0, 9, 104);
    color: white;
    margin-top: 0%;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10%;
}
}